body {
    position: absolute;
    background-image: url("img/title.jpg");
    color: white;
}

h1, h2, h3, h4, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif;
}

h1:hover, h2:hover, h3:hover, h4:hover, h4:hover, h5:hover, h6:hover {
    font-size: 50px;
    color: rgb(124, 187, 243);
}

h1 {
    text-align: center;
}

h3 {
    text-align: center;
    font-weight: 700;
}

h4 {
    text-align: center;
    font-weight: 700;
}

h5 {
    font-weight: bolder;
    text-align: center;
}

span {
    background-color: rgb(111, 117, 122);
    font-family: 'Montserrat', sans-serif;
}

.heading {
    text-align: center;
    text-decoration: underline;
}

.title-photo {
    display: flex;
    margin: auto;
    padding-top: 25px;
    width: 900px;
    height: 500px;
}



.stars-humans-nebulae {
    display: flex;
    margin: auto;
    width: 600px;
    height: 400px;
}

.low-head {
    background-color: rgba(16, 21, 90, 0.568);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
}